<p>
  <span style='color: gray;'>
    <%= comment.author.username %> <%= time_ago_in_words(comment.created_at) %> ago
  </span>
  <span style='white-space: pre-line;'>
    <%= comment.body %>
  </span>
  <% if logged_in? && (comment.author_id == current_user.id || current_user.admin?) %>
    <%= link_to 'Delete comment', article_comment_path(comment.article_id, comment), data: {
      turbo_method: :delete,
      turbo_confirm: 'Are you sure you want to delete this comment?'
    } %>
  <% end %>
</p>
