<% if @articles.any? %>
  <% unless controller_name == 'articles' %>
    <h2>Articles</h2>
  <% end %>

  <table>
    <thead>
    <tr>
      <th>Title</th>

      <% unless can_infer_author? %>
        <th>Author</th>
      <% end %>

      <th>Categories</th>
      <th>Date created</th>
      <th colspan='3'>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render @articles %>
    </tbody>
  </table>

  <%== pagy_nav(@pagy) %>
<% end %>
