<h1><%= @user.username %>'s profile</h1>

<%= render 'articles/table' %>

<% if logged_in? && @user == current_user %>
  <p>
    <%= link_to 'Edit profile', edit_user_path(@user) %> |
    <%= link_to 'Delete account', @user, data: {
      turbo_method: :delete,
      turbo_confirm:
        'Are you sure you want to delete your account? All your articles will be deleted as well.'
    } %>
  </p>
<% end %>
